* {
    box-sizing: border-box;
    font-family: Arial;
}
html,
body {
    height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    height: 100dvh;
    padding: 0;
    margin: 0;
}
.main-screen {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}
#main-stage {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.481);
    position: relative;
    justify-content: center;
    align-items: center;
}
#firstTimeScreen,
#oldUserScreen {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/*FIRST TIME SCREEN */
#box {
    height: 25%;
    aspect-ratio: 1/1;
    background-color: purple;
    position: absolute;
}
#cat {
    height: 30%;
    aspect-ratio: 1/1;
    background-color: yellow;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
#youReceivedText {
    position: absolute;
    top: 65%;
    text-align: center;
    opacity: 0;
}

#renamePopUpScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    display: none;
    align-items: center;
}
#renamePopUp {
    width: 70%;
    height: 50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.rename-title {
    height: 10%;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rename-photo-name-wrapper {
    height: 50%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
}

.rename-photo {
    height: 100%;
    width: 40%;
    background-color: yellow;
}
.rename-name {
    height: 100%;
    width: 60%;
    background-color: orange;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rename-name h1 {
    margin: 0;
    padding: 0;
}
#renameInput {
    position: absolute;
    height: 50%;
    width: 100%;
    opacity: 0;
}
.rename-button-wrapper {
    height: 40%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
#renameConfirmBtn {
    padding: 20px;
}
#statusBox {
   aspect-ratio: 1.5/1;
    width: 20%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
}
#statusBoxName,
#statusBoxHunger {
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#statusBoxNameH1 {
    margin: 0;
}
#hungerBar,
#happinessBar {
    height: 50%;
    width: 95%;
    border: 2px black solid;
    overflow: hidden;
    margin-left: 1.5%;
    display: flex;
    position: relative;
}
#hungerBarContent {
    height: 100%;
    width: 100%;
    background-color: green;
}

#coinBox{
  position: absolute;
  height: max(5cqw, 5cqh);
  width: max(15cqw, 15cqh);
  border: 2px black solid;
  background-color: white;
  top: 2.5%;
  right: 2.5%;
  display: none;
  justify-content: center;
  align-items: center;
}

#coinAmountP{
  font-size: max(2.5cqw, 2.5cqh);
  
}

.coin-logo{
  height: 70%;
  aspect-ratio: 1/1;
  background-color: yellow;
  border-radius: 100%;
  border: 2px black solid;
  margin: 2%;
}

#storeCoinBox{
  position: absolute;
  height: max(5cqw, 5cqh);
  width: max(15cqw, 15cqh);
  border: 2px black solid;
  background-color: white;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buyPopUpWrapper{
  position: absolute;
  background-color: #6868664e;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#buyPopUp{
  height: max(28cqw, 28cqh);
  width: max(36cqw, 36cqh);
  border: 5px black solid;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#buyPopUp > *{
  margin: 0;
  padding: 0;
}

#buyItemP{
  font-weight: bold;
  font-size: max(2.5cqw, 2.5cqh);
  width: 100%;
  text-align: center;

}

#buyItemPrice, #buyItemTotal{
  font-size: max(2.5cqw, 2.5cqh);
  margin-left: 10px;
}

#buyItemTotal{
  font-weight: bold;
}

#buyItemAmountWrapper{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#buyItemAmount{
  font-size: max(2.5cqw, 2.5cqh);
  margin-left: 10px;
}

#itemAmountP{
  font-size: max(2.5cqw, 2.5cqh);
  width: 10%;
  text-align: center;
}

#addAmount, #minusAmount{
  position: absolute;
  font-size: max(3cqw,  3cqh);
  font-weight: bold;
}

#addAmount{
  right: 20%;
  
}

#minusAmount{
  right: 5%;
}

#buyButtonWrapper{
  height: 18%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#buyCancelBtn, #buyConfirmBtn{
  height: 90%;
  width: 40%;
  border-radius: 10px;
  font-size: max(2cqw, 2cqh);
}
.food-sprite{
  position: absolute;
  height: 20%;
  aspect-ratio: 1/1;
  background-color: yellow;
  top: 80%;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
transition: height 0.67s ease-in; /* SIX SEVEEEEN??? */
}
.food-sprite.shrink{
  height: 0;
}

#hungerBarPoints {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0;
}
#bottomAccessBar {
    width: 100%;
    height: 10dvh;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#items,
#store,
#tasks {
    flex: 1;
    margin: 10px;
    height: 70%;
}

#itemsPopUpWrapper,
#storePopUpWrapper,
#tasksPopUpWrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.213);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#itemsPopUp,
#storePopUp,
#tasksPopUp {
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: 2px black solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-popup,
.bottom-popup {
    height: 10%;
    width: 100%;
    background-color: yellow;
    display: flex;
    position: relative;
}


#exitPopUpBtn{
  padding: 10px;
}

.top-buttons-wrapper{
  height: 100%;
  width: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.main-btn{
  flex: 1;
  padding: 10px;
  margin: 10px;
}
.top-return-button-wrapper{
  height: 100%;
  width: 10%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}
#itemsMainScreen,
#storeMainScreen,
#tasksMainScreen {
    height: 80%;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

#tasksMainScreen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  
}
#taskTitleWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
   container-type: inline-size;
   background-color: white;
   gap: 20px;
   flex-shrink: 0;
   position: absolute;
  bottom : 0; 
   transition: bottom 0.3s ease-in;
}

#taskTitleWrapper.hide{
  bottom: 100%;
}

 #taskTitleWrapper > *{
   padding: 0;
   margin: 0;
 }
 #taskTitleInput{
   height: max(5cqh, 5cqw);
   width: 85%;
  text-align: center;
   border-radius: 10px;
 }
 
 #nextTaskTitleBtn{
   font-size: max(2cqw, 2cqh);
   padding: 1.5% 2.5% 1.5% 2.5%;
   pointer-events: none;
 }
 .start-task{
   font-size: 3cqmin;
   padding: 1.5% 2.5% 1.5% 2.5%;
   margin-top: 1.5%;
 }

#timeSetWrapper{
  height: 100%;
  width: 100%;
  background-color: white;
  flex-shrink: 0;
  position: absolute;
  top: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    transition: top 0.3s ease-in;
container-type: size;
}

#taskTitleText, #taskTitleOngoing{
  padding: 0;
  font-weight: bold;
  font-size: max(2.5cqw, 2.5cqh);
  text-align: center;
}
#timeSetWrapper.show{
  top: 0;
}
.time-choice-wrapper{
  width: 100%;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
 
}
.time-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.choice{
  border: 3px black solid;
  border-radius: 10px;
  height: 90%;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  container-type:inline-size ;
}
  
.choice > *{
  margin: 0;
  padding: 0;
}

.choice h1{
  font-size: min(12vw, 12vh);
  flex-shrink: 0;
}

.choice p{
  font-size: min(3vw, 3vh);
  font-weight: bold;
}
#timeChoiceCustom{
  position: relative;
}

#timeCustomInput{
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0;
}
 
#itemsFoodMain, #itemsToysMain, #itemsDesignMain, #storeFoodMain, #storeToysMain, #storeDesignMain{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#storeFoodMain{
  justify-content: flex-start;
  align-items: flex-start;
}


.stock-screen, .empty-screen{
  height: 100%;
  width: 100%;
  display: none;
}
.stock-screen{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: whitesmoke;
  padding: 10px 20px 10px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
.food-item-wrapper{
  height: max(20cqw, 20cqh);
  width: 100%;
  border: 3px black solid;
  border-radius: 10px;
  margin: 0 0 20px 0;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.food-item-pic{
  height: max(10cqw, 10cqh);
  aspect-ratio: 1/1;
  background-color: yellow;
}

.food-details-wrapper{
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}

.food-title{
  font-weight: bold;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: max(2cqw, 2cqh);
  white-space: nowrap;
  text-align: center;
}

.food-descrip{
  width: 95%;
  margin: 0;
  padding: 0;
  font-size: max(1.5cqw, 1.5cqh);
  text-align: center;
}

#feedBtn, #buyBtn{
 font-size: max(1.75cqw, 1.75cqh);
  padding: 0.5em 1em;
  background-color: yellow;
  border: 2px black solid;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;

}

.food-stock{
  font-size: max(1.5cqw, 1.5cqh);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5px;
  margin-bottom: 5px;

}
.empty-screen{
  justify-content: center;
  align-items: center;
  background-color: pink;
}

#ongoingTaskScreen{
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}

#ongoingTaskTimerWrapper{
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: orange;
}

#taskDoneBtn{
  display: none;
  margin: 0; 
  font-size: max(3cqw, 3cqh);
  background-color: yellow;
  padding: 0.5em 1em;
}

#finishedTaskPopUpWrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.253);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}

#finishedTaskPopUp{
  height: max(30cqw, 30cqh);
  width: max(40cqw, 40cqh);
  display: none;
  border: 2px black solid;
  border-radius: 10px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  

}

#finishedText{
  padding: 0;
  font-weight: bold;
  font-size: max(2.5cqw, 2.5cqh);
  text-align: center;
  display: none;
}

.task-done{
  font-size: max(3cqw, 3cqh);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;

}
#durationP, #multiplierP{
  font-size: max(2cqw, 2cqh);
  padding-left: 2px;
  font-weight: bold;
  margin: 0;
  padding: 0;

}
#finishedTotal{
  font-size: max(3cqw, 3cqh);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;

}

#tutorialPopUpWrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(222, 217, 217, 0.23);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: flex-start;
   z-index: 99;
   
   opacity: 0.2;/*remove later*/
}

#tutorialPopUp {
    height: 20%;
    width: 40%;
    padding: 10px;
    word-break: auto;
    background-color: white;
    border-radius: 10px;
    border: 2px black solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#tutorialText {
    margin: 0;
    padding: 5px;
    user-select: none;
    text-align: center;
}
.tap-to-continue {
    top: 80%;
    position: absolute;
    color: gray;
}

#countDownP, #taskTimerP{
  font-size: max(15cqw, 15cqh);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#taskTitleOngoing{
  margin: 0;
  padding: 0;
}

@media(orientation: landscape){
  .time-choice-wrapper{
    grid-template-columns: repeat(4, 1fr);
  }
}
